.heading-content-wrapper {
    padding-top: 4rem;
    width: 100%;
    text-align: center;
    @media only screen and (max-width: 37.5em) {
        display: none;   
    }
    .filter-item-content {
        display: inline-block;
        padding: 2rem 3rem;
        border-radius: 5rem;
        background: var(--dark-color);
        box-shadow:  20px 20px 51px #090919, 
             -20px -20px 51px #15173d;
    }
    .filter-item {
        &:not(:last-child){
            margin-right: 2rem;
        }
        transition: all .3s;
        cursor: pointer;
        position: relative;
        color: var(--white-color);
        font-weight: 500;
        border-radius: .375rem;
        text-transform: capitalize;
        display: inline-block;
        @media only screen and (max-width: 56.25em) {
            font-size: 1.4rem;
        }
    }
    .filter-item::before {
        width: 0;
        height: 2px;
        background-color:  #b98f41;
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition:all .2s linear;
        transition-delay: .2s;
    }
    // .filter-item-content {
    //     @media only screen and (max-width: 37.5em) {

    //     }
    // }
    .heading-content-text {
        border-radius: .375rem;
    }
    .filter-item.active::before,
    .filter-item:hover::before{
        visibility: visible;
        opacity: 1;
        width: 100%;
    }
    .filter-item:hover,.filter-item.active{
        color: var(--blue-color);
    }
}