.article {
    position: relative;
    transition: all .2s linear;
    overflow: hidden;
    background-color: var(--white-color);
    backface-visibility: hidden;
    margin: 0 2rem 4rem;
    @media only screen and (max-width: 320px){
        border: 1px solid var(--border-color);
        .date {
            align-items: center;
            margin-right: 0;
            display: flex;
            border-bottom: 1px solid var(--border-color);
            padding: 1rem 0;
            .day {
                margin: 0 1rem;
            }

        }
    }
    
    .date{
        color: #aaa;
        line-height: 1.3;
        .day {
            font-size: 2.4rem;
            font-weight: bold;
            @media only screen and (max-width: 56.25em) {
                font-size: 1.8rem;
            }
        }
    }

    &__content{
        text-align: left;
        padding:2rem 0;
        width: 100%;
        position: relative;
        @media only screen and (max-width: 320px){
            padding: 2rem;
            flex-direction: column;
        }
        .main-title {
            line-height: 26px;
            font-size: 1.7rem;
            font-weight: 900;
            display: inline-block;
            width: 100%;
            position: relative;
            padding-bottom: 1rem;
            @media only screen and (max-width: 320px){
                padding: 1rem 0;
            }
            &::after {
                content: "";
                position: absolute;
                width: 50px;
                height: 1px;
                bottom: 0;
                left: 0;
                background: #ddd;
                z-index: 1;
            }
        }
        .main-title a {
            transition: all .2s;
            color: var(--dark-color);
        }
        .main-title a:hover {
            color: #149e93;
        }

    }

}
@media only screen and (max-width: 37.5em) {
    .featured-image {
        height: 260px;
        img {
            height: 100%;
        }
    }
}
@media only screen and (max-width: 320px){
    .featured-image {
        display: none!important;
    }
}