.article {
    position: relative;
    transition: all .2s linear;
    overflow: hidden;
    backface-visibility: hidden;
    margin: 0 2rem 4rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    @media only screen and (max-width: 320px){
        border: 1px solid var(--border-color);
        .date {
            display: none!important;
        }
    }
    
    .date{
        color: #aaa;
        line-height: 1.6;
        @media only screen and (max-width: 75em) {
            font-size: 1.4rem;
        }
        .day {
            font-size: 2.4rem;
            font-weight: bold;
            @media only screen and (max-width: 75em) {
                font-size: 2rem;
            }
            @media only screen and (max-width: 56.25em) {
                font-size: 1.8rem;
            }
        }
    }

    &__content{
        text-align: left;
        padding:2rem;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        position: relative;
        @media only screen and (max-width: 320px){
            padding: 2rem;
            flex-direction: column;
            border-bottom: none;

        }
        .main-title {
            line-height: 26px;
            font-size: 1.7rem;
            font-weight: 900;
            display: inline-block;
            width: 100%;
            position: relative;
            @media only screen and (max-width: 75em) {
                font-size: 1.4rem;
            }
            @media only screen and (max-width: 320px){
                padding: 1rem 0;
            }
        }
        .main-title {
            transition: all .2s;
            color: var(--dark-color);
        }
        .main-title:hover {
            color: var(--primary-color);
        }

    }

}
@media only screen and (max-width: 37.5em) {
    .featured-image {
        height: 260px;
        img {
            height: 100%;
        }
    }
}
@media only screen and (max-width: 320px){
    .featured-image {
        display: none!important;
    }
}