.article {
    position: relative;
    transition: all .2s linear;
    transition-delay: .1s;
    overflow: hidden;
    backface-visibility: hidden;
    margin: 0 3rem 6rem;
    border-radius: 6px;
    background: var(--dark-color);
    box-shadow:  20px 20px 51px #090919, 
             -20px -20px 51px #15173d;
    &:hover {
        background: #1f2141;
        box-shadow:  20px 20px 43px #1c1e3b, 
             -20px -20px 43px #222448;
    }
    @media only screen and (max-width: 75em) {
        margin: 0 2rem 4rem;
    }
    @media only screen and (max-width: 320px){
        border: 1px solid var(--border-color);
        .date {
            display: none!important;
        }
    }
    
    .date{
        color: #aaa;
        line-height: 1.6;
        @media only screen and (max-width: 75em) {
            font-size: 1.4rem;
        }
    }

    &__content{
        text-align: left;
        padding:2rem;
        width: 100%;
        position: relative;
        background-image: url('../../images/shape.png');
        background-size: cover;
        @media only screen and (max-width: 320px){
            padding: 2rem;
        }
        .main-title {
            line-height: 26px;
            font-size: 1.7rem;
            font-weight: 900;
            display: inline-block;
            width: 100%;
            position: relative;
            @media only screen and (max-width: 75em) {
                font-size: 1.4rem;
            }
            @media only screen and (max-width: 320px){
                padding: 1rem 0;
            }
        }
        .main-title {
            transition: all .2s;
            color: var(--white-color);
        }
        .main-title:hover {
            color: var(--primary-color);
        }

    }

}
@media only screen and (max-width: 37.5em) {
    .featured-image {
        height: 260px;
        img {
            height: 100%;
        }
    }
}
@media only screen and (max-width: 320px){
    .featured-image {
        display: none!important;
    }
}