
.content-article {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow: hidden;
    background-color: var(--white-color);
    // padding: 12rem;
    margin-top: -6rem;
    .content-post,
    .post-title,
    .imagePreview {
        margin: 0 auto;
        max-width: 90rem;
    }
    .content-post {
        padding: 3rem 0;
    }
    .imagePreview {
        width: 100%;
        height: auto;
        padding-bottom: 42%;
        border-radius: .375rem;
        margin-bottom: 3rem;
    }
    .post-title {
        font-size: 4rem;
        color: var(--dark-color);
        text-align: center;
        @media only screen and (max-width: 56.25em) {
            font-size: 2.4rem;
        }
        @media only screen and (max-width: 37.5em) {
            font-size: 1.8rem;
        }
    }
    .content-post {
        line-height: 3.2rem;

        img {
            max-width: 100%;
            border-radius: .375rem;
        }
        pre {
            border-radius: .375rem;
            background-color: #2d2d2d;
            padding: 2rem;
            max-height: 40rem;
            overflow: auto;
            white-space: pre;
        }
        code {
            color: #ccc;
        }
        p,img,pre {
            margin: 1.5rem 0;
        }
    }
    .details-post{        
        @media only screen and (max-width: 37.5em) {
            border-bottom: 0;
            flex-direction: column;
            align-items: flex-start!important;
            small,span {
                margin-left: 0!important;
                margin-top: 1rem;
            }
        }
        .date {
            color: var(--dark-color);
        }
        p.author {
            position: relative;
            color: var(--dark-color);
            @media only screen and (max-width: 37.5em) {
                display: none;
            }
        }
    }
    
}