.header {
    position: relative;
    padding-top: 4rem;
    @media only screen and (max-width: 37.5em){
        padding-top: 3rem;
    }
    &__box {
        color: var(--white-color);
        text-align: center;
        @media only screen and (max-width: 75em) {
            flex-direction: column;
        }
    }
    .socials{
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: 56.25em){
            flex-direction: column;
        }
    }
    .social-box {
        position: absolute;
        top: 2rem;
        right: 3rem;
        @media only screen and (max-width: 37.5em){
            display: none;
        }
    }
    .typewriter
    {
        @media only screen and (max-width: 75em) {
            margin-left: 0;
            margin-top: 1rem;
            br {
                display: none;
            }
        }
        .typewrite__text {
            color: var(--primary-color);
        }
        h1 {
            width: 100%;
            font-weight: 300;
            font-size: 2.2rem;
            @media only screen and (max-width: 56.25em){
                font-size: 2rem;
            }
            @media only screen and (max-width: 37.5em){
                font-size: 1.4rem;
            }
            @media only screen and (max-width: 320px){
                font-size: 1.2rem;
            }
        }

    }  
    
}
