.masonry {
    margin:0 -3rem;
    @media only screen and (max-width: 75em) {
        margin: 0 -2rem;
    }
}
.main {
    padding: 6rem;
    @media only screen and (max-width: 75em) {
        padding: 4rem;
    }
    @media only screen and (max-width: 37.5em) {
        padding: 2rem;   
    }
}
.main,
.header {
    width: 100%;

}