.footer {
    padding: 3rem 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
    .text {
        font-size: 1.8rem;
    }
    .social-box {
        .border{
            display: none;
        }
        .social{
            line-height: 0;
        }
    }
    @media only screen and (max-width: 56.25em) {
        padding: 3rem 4rem;
        .text,span {
            font-size: 1.4rem;
        }
        .social{
            font-size: 1.6rem;
        }
    }
    @media only screen and (max-width: 37.5em) {
        flex-direction: column;
        padding: 2rem 4rem;
        span {
            padding: 1rem 0;
        } 
    }
}