@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
html {
  font-size: 62.5% !important;
  position: relative;
  font-family: "Merriweather", serif;
  line-height: 1.6 !important;
}
body {
  background-color: var(--dark-color-2);
  font-size: 1.6rem !important;
}
#root {
  margin: 6rem;
  background: url('images/shape.png');
  background-repeat: no-repeat;
  background-color: var(--dark-color);
  transition: margin .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 3rem;
  box-shadow:  -26px -26px 52px #2e2e4e, 
             26px 26px 52px #3e3e6a;
  @media only screen and (max-width: 75em) {
    margin: 0;
    border-radius: 0;
  } 
}
#root.zoomin {
  margin: 0;border-radius: 0;
}

li {
  list-style-type: none;
}

:root {
  --dark-color: #0f102b;
  --primary-color:#27e29e;
  --dark-color-2:#36365c;
  --white-color: #ffffff;
  --color-article-content: #1f2141;
  --box-shadow-dark: 20px 20px 51px #090919, 
  -20px -20px 51px #15173d;
  --box-shadow-dark-hover: 20px 20px 43px #1c1e3b, 
  -20px -20px 43px #222448;
  --blue-color: #0b61b4;
  --border-color: rgba(8, 9, 10, 0.1);
  
  --overlay: rgb(109 99 99 / 41%);
}
[data-theme="dark"] {
  --dark-color:#ffffff;
  --white-color:#0f102b;
  --box-shadow-dark: 20px 20px 51px #d9d9d9, 
  -20px -20px 51px #ffffff;
  --box-shadow-dark-hover: 20px 20px 43px #c4c4c4, 
  -20px -20px 43px #ffffff;
  --color-article-content:#f7f7f7;
}

ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}

.icon {
  color: var(--primary-color);
  cursor: pointer;
  svg:hover {
      color: var(--blue-color);
  }
  svg {
      font-size: 2.2rem;
  }
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.display-block {
  display: block;
}
.cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
.flex {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.flex-between {
  justify-content: space-between !important;
}
.flex-start {
  justify-content: flex-start !important;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-start {
  justify-content: flex-start !important;
}
.flex-end {
  justify-content: flex-end !important;
}
.align-item-start {
  align-items: flex-start !important;
}
.align-item-end {
  align-items: flex-end !important;
}
.align-item-stretch {
  align-items: stretch !important;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.font-weight-9 {
  font-weight: 900;
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.pd-lr-2 {
  padding: 0 2rem;
}
.pd-lr-1 {
  padding: 0 1rem;
}
.pd-2 {
  padding: 2rem;
}

